{% extends "base.html" %}

{% block title %}
<title>Welcome to Incenti Plan - Course Portal</title>
{% endblock %}
{% block content %}
<h1>Course-Assignment Management</h1>

<div style="overflow-x:auto;">
    <table id="data_table">
        <tr>
            <th>Year</th>
            <th>Subject</th>
            <th>Course Name</th>
            <th>Task Type</th>
            <th>Task Name</th>
            <th>Task Score</th>
            <th>Task Due Date</th>
            <th>Teacher Name</th>
        </tr>

        {% for each_course in data %}
        <tr>
            <td>{{ each_course['academic_year'] }}</td>
            <td>{{ each_course['subject'] }}</td>
            <td>{{ each_course['course_name'] }}</td>
            <td>{{ each_course['task_type'] }}</td>
            <td>{{ each_course['task_name'] }}</td>
            <td>{{ each_course['task_score'] }}</td>
            <td>{{ each_course['task_due_date'] }}</td>
            <td>{{ each_course['teacher_name'] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}


