{% extends "base.html" %}

{% block title %}
<title>Welcome to Incenti Plan Portal</title>
{% endblock %}

{% block content %}

<h1>Add Course and Year</h1>
{% if data_dict['error_message'] %}
<p class="error"><strong>Error: </strong>{{ data_dict['error_message'] }}</p>
{% endif %}
{% if data_dict['status_message'] %}
<p class="success"><strong>Success: </strong>{{ data_dict['status_message'] }}</p>
{% endif %}

<form action="/course_year/" method="post">
    <table>
        <tr>
            <th><label>Select Academic Year:</label></th>
            <td>
                <select name="academic_year">
                    {% for each_ay in data_dict['academic_year_list'] %}
                    <option value="{{each_ay.academic_year}}">{{each_ay.academic_year_name}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <th><label>Select Course Name:</label></th>
            <td>
                <select name="course_id">
                    {% for each_course in data_dict['course_list'] %}
                    <option value="{{each_course.id}}">{{each_course.subject}} - {{each_course.course_name}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <th><label for="room_number">Room Number:</label></th>
            <td><input type="text" id="room_number" name="room_number" value="{{ data_dict['room_number'] }}"></td>
        </tr>
        <tr>
            <th><label>Select Teacher Name:</label></th>
            <td>
                <select name="teacher_id">
                    {% for each_teacer in data_dict['teacher_list'] %}
                    <option value="{{each_teacer.id}}">{{each_teacer.first_name}} {{each_teacer.last_name}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <th><label for="submit">&nbsp;</label></th>
            <td><input id="reset" type="reset" value="Reset">&nbsp;<input id="submit" type="submit" value="Submit"></td>
        </tr>
    </table>
</form>
{% endblock %}

